<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<p>
  This is the contact page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application. 
  <br>You can contact the following people via mail:
  <br> 
  <br><a href="mailto:toetsentim@live.nl">Tim van der Ende</a>
  <br><a href="mailto:dex.kemp@gmail.com">Steven Kemp</a>
  <br><a href="mailto:123@123.com">Ipsum Lorem</a>
  
</p>